<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <% if (games) { %>
            Games
        <% } else if (dashboard) { %>
            My Games
        <% } %> 
        - RPG Schedule
    </title>

    <% include head.ejs %>

    <script src="/scripts/moment.js"></script>
    <link rel="stylesheet" href="/styles/game.css" />
</head>
<body>
<%- include('menu', { config: config, user: user }); %>
<div class="container">
    <h6 class="breadcrumbs">
        <% if (games) { %>
            Games
            <a href="<%= config.urls.dashboard %>" class="btn btn-primary btn-sm float-right">New Game</a>
        <% } else if (dashboard) { %>
            My Games
        <% } %>
    </h6>
    <% guilds.filter(guild => guild.permission).forEach(guild => { %>
    <hr />
    <h2 class="guild-name">
        <img class="guild-icon" src="<%= guild.icon %>" alt="" />
        <%= guild.name %>
        <% if (dashboard && guild.permission) { %>
            <a href="<%= config.urls.game.create %>?s=<%= guild.id %>" class="btn btn-primary btn-sm float-right">New Game</a>
        <% } %>
    </h2>
    <div class="games">
        <% if (guild.games.length === 0) { %>
            <div class="no-games">
                <% if (dashboard) { %>
                    There are no games on this server right now
                <% } else if (games) { %>
                    There are no upcoming games on this server right now
                <% } %>
            </div>
        <% } %>
        <% guild.games.forEach(game => { %>
            <% if (dashboard && (user.tag === game.dm || user.tag === config.author)) { %>
                <a class="game" href="<%= config.urls.game.create %>?g=<%= game._id %>">
                    <h4 class="game-name"><%= game.adventure %></h4>
                    <div class="game-time">
                        <strong>When:</strong>
                        <% if (game.timestamp > new Date().getTime()) {%>
                            <span data-datetime="<%= game.moment.raw %>"><%= game.moment.calendar %> (<%= game.moment.from %>)</span>
                        <% } else { %>
                            <span data-datetime="<%= game.moment.raw %>" class="text-danger"><%= game.moment.date %> (<%= game.moment.from %>)</span>
                        <% } %>
                    </div>
                    <div class="game-reserved"><strong>Reserved:</strong> <%= Math.min(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0)%></div>
                    <div class="game-reserved"><strong>Waitlisted:</strong> <%= Math.max(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0) - parseInt(game.players)%></div>
                </a>
            <% } else if (games || game.signedup || game.waitlisted) { %>
                <div class="game">
                    <h4 class="game-name"><%= game.adventure %></h4>
                    <div class="game-time">
                        <strong>When:</strong>
                        <% if (game.timestamp > new Date().getTime()) {%>
                            <span data-datetime="<%= game.moment.raw %>"><%= game.moment.calendar %> (<%= game.moment.from %>)</span>
                        <% } else { %>
                            <span data-datetime="<%= game.moment.raw %>" class="text-danger"><%= game.moment.date %> (<%= game.moment.from %>)</span>
                        <% } %>
                    </div>
                    <div class="game-reserved">
                        <strong>Reserved:</strong>
                        <%= Math.min(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0)%>
                        <% if (game.signedup) { %>
                            (Slot #<%= game.slot %>)
                        <% } %>
                    </div>
                    <div class="game-reserved">
                        <strong>Waitlisted:</strong>
                        <%= Math.max(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0) - parseInt(game.players)%>
                        <% if (game.waitlisted) { %>
                            (Slot #<%= game.slot %>)
                        <% } %>
                    </div>
                    <div class="buttons">
                        <% if (!game.signedup && !game.waitlisted) { %>
                            <a href="<%= config.urls.game.rsvp %>?g=<%= game._id %>" class="btn btn-success btn-sm">Sign Up</a>
                        <% } else { %>
                            <a href="<%= config.urls.game.rsvp %>?g=<%= game._id %>" class="btn btn-danger btn-sm">Drop Out</a>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
    <% }); %>
    <% if (guilds.filter(guild => guild.permission).length === 0) { %>
    <div class="no-guilds">
        <p>You are not a member of a server that has granted you permission to post games. If you would like to use this bot on your own server, click the Invite button below.</p>
        <a href="/invite" target="_blank" class="btn btn-primary btn-lg">Invite</a>
    </div>
    <% } %>
</div>
<script type="text/javascript">
    const parseDates = () => {
        $('[data-datetime]').each(function() {
            const date = $(this).get(0).dataset.datetime;
            const parsed = {
                calendar: moment(date).utcOffset(moment().utcOffset()).calendar(),
                from: moment(date).utcOffset(moment().utcOffset()).fromNow()
            };
            $(this).html(`${parsed.calendar} (${parsed.from})`);
            if (new Date().getTime() >= new Date(date).getTime()) {
                $(this).addClass('text-danger');
            }
        });
    };

    parseDates();
    setInterval(() => {
        parseDates();
    }, 30 * 1000);
</script>
</body>
</html>