<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Games Dashboard - RPG Schedule</title>
    <link rel="icon" type="image/png" href="/images/rpg-schedule.png">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/game.css">
</head>
<body>
<nav class="navbar fixed-top navbar-dark bg-primary row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" href="#">RPG Schedule</a>
            </div>
            <div class="col text-right">
                <h2 class="guild-name">
                    <img class="guild-icon" src="<%= user.avatarURL %>" alt="" />
                    <span class="d-xs-none">
                        <%= user.username %>
                    </span>
                </h2>
            </div>
        </div>
    </div>
</nav>
<p>&nbsp;</p>
<p style="margin: 0;">&nbsp;</p>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
    <h6 class="breadcrumbs">
        Games
    </h6>
    <% guilds.forEach(guild => { %>
    <h2 class="guild-name">
        <a href="<%= config.urls.game.create %>?s=<%= guild.id %>" class="btn btn-primary btn-sm float-right">New Game</a>
        <img class="guild-icon" src="<%= guild.icon %>" alt="" />
        <%= guild.name %>
    </h2>
    <div class="games">
        <% guild.games.forEach(game => { %>
        <a class="game" href="<%= config.urls.game.create %>?g=<%= game._id %>">
            <h4 class="game-name"><%= game.adventure %></h4>
            <div class="game-time">
                <strong>When:</strong>
                <% if (game.timestamp > new Date().getTime()) {%>
                <%= new Date(`${game.date} ${game.time} GMT${game.timezone >= 0 ? '+' : '-'}${Math.abs(game.timezone)}`) %>
                <% } else { %>
                Expired
                <% } %>
             </div>
            <div class="game-reserved"><strong>Reserved:</strong> <%= Math.min(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0)%></div>
            <div class="game-reserved"><strong>Waitlisted:</strong> <%= Math.max(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0) - parseInt(game.players)%></div>
        </a>
        <% }); %>
    </div>
    <% }); %>
</div>
</body>
</html>