<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <% if (viewing.games) { %>
            Games
        <% } else if (viewing.dashboard) { %>
            My Games
        <% } %> 
        - RPG Schedule
    </title>

    <% include head.ejs %>

    <script src="/scripts/moment.js"></script>
    <link rel="stylesheet" href="/styles/game.css" />
</head>
<body>
<%- include('menu', { config: config, user: user }); %>
<div class="container">
    <h6 class="breadcrumbs">
        <% if (viewing.games) { %>
            Upcoming Games
            <a href="<%= config.urls.game.dashboard.url %>" class="btn btn-primary btn-sm float-right">My Games</a>
        <% } else if (viewing.dashboard) { %>
            My Games
            <a href="<%= config.urls.game.games.url %>" class="btn btn-primary btn-sm float-right">Upcoming Games</a>
        <% } %>
    </h6>
    <% guilds.forEach(guild => { %>
    <hr />
    <h2 class="guild-name">
        <img class="guild-icon" src="<%= guild.icon %>" alt="" />
        <%= guild.name %>
        <% if (viewing.dashboard && guild.permission) { %>
            <a href="<%= config.urls.game.create.url %>?s=<%= guild.id %>" class="btn btn-primary btn-sm float-right">New Game</a>
        <% } %>
    </h2>
    <div class="games">
        <% if (guild.games.length === 0) { %>
            <div class="no-games">
                <% if (viewing.dashboard) { %>
                    You are not dming or playing in any games on this server right now
                <% } else if (viewing.games) { %>
                    There are no upcoming games on this server right now
                <% } %>
            </div>
        <% } %>
        <% guild.games.forEach(game => { %>
            <% if (guild.permission && viewing.dashboard && (user.tag === game.dm || user.tag === config.author)) { %>
                <a class="game my-games" href="<%= config.urls.game.create.url %>?g=<%= game._id %>">
                    <h4 class="game-name"><%= game.adventure %></h4>
                    <div class="game-time">
                        <strong>When:</strong>
                        <% if (game.timestamp > new Date().getTime()) {%>
                            <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>"><%= game.moment.calendar %> (<%= game.moment.from %>)</span>
                        <% } else { %>
                            <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>" class="text-danger"><%= game.moment.date %> (<%= game.moment.from %>)</span>
                        <% } %>
                    </div>
                    <div class="game-reserved"><strong>Reserved:</strong> <%= Math.min(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0)%></div>
                    <div class="game-reserved"><strong>Waitlisted:</strong> <%= Math.max(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0) - parseInt(game.players)%></div>
                </a>
            <% } else if (viewing.games || game.signedup || game.waitlisted) { %>
                <div class="game upcoming" id="<%= game._id %>">
                    <h4 class="game-name"><%= game.adventure %></h4>
                    <div class="game-dm">
                        <strong>DM:</strong>
                        <%= game.dm.replace(/#\d{4}/g, '') %>
                    </div>
                    <div class="game-time">
                        <strong>When:</strong>
                        <% if (game.timestamp > new Date().getTime()) {%>
                            <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>"><%= game.moment.calendar %> (<%= game.moment.from %>)</span>
                        <% } else { %>
                            <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>" class="text-danger"><%= game.moment.date %> (<%= game.moment.from %>)</span>
                        <% } %>
                    </div>
                    <div class="where">
                        <strong>Where:</strong>
                        <%= game.where %>
                    </div>
                    <div class="game-reserved">
                        <strong>Reserved:</strong>
                        <%= Math.min(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0)%>
                        <% if (game.signedup) { %>
                            (Slot #<%= game.slot %>)
                        <% } %>
                    </div>
                    <div class="game-reserved">
                        <strong>Waitlisted:</strong>
                        <%= Math.max(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0) - parseInt(game.players)%>
                        <% if (game.waitlisted) { %>
                            (Slot #<%= game.slot %>)
                        <% } %>
                    </div>
                    <div class="game-description"><%= game.description %></div>
                    <% if (game.method === "automated") { %>
                        <div class="buttons">
                            <% if (!game.signedup && !game.waitlisted) { %>
                                <a href="<%= config.urls.game.rsvp.url %>?g=<%= game._id %>" class="btn btn-success btn-sm">Sign Up</a>
                            <% } else { %>
                                <a href="<%= config.urls.game.rsvp.url %>?g=<%= game._id %>" class="btn btn-danger btn-sm">Drop Out</a>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% } %>
        <% }); %>
    </div>
    <% }); %>
    <% if (guilds.length === 0) { %>
    <div class="no-guilds">
        <p>You are not a member of a server that has granted you permission to post games. If you would like to use this bot on your own server, click the Invite button below.</p>
        <a href="/invite" target="_blank" class="btn btn-primary btn-lg">Invite</a>
    </div>
    <% } %>
</div>
<script type="text/javascript">
    const parseDates = () => {
        $('[data-datetime]').each(function() {
            const date = $(this).get(0).dataset.datetime;
            const iso = $(this).get(0).dataset.datetime;
            const parsed = {
                calendar: moment(iso).utcOffset(moment().utcOffset()).calendar(),
                from: moment(iso).utcOffset(moment().utcOffset()).fromNow()
            };
            $(this).html(`${parsed.calendar} (${parsed.from})`);
            if (new Date().getTime() >= new Date(date).getTime()) {
                $(this).addClass('text-danger');
            }
        });
    };

    parseDates();
    setInterval(() => {
        parseDates();
    }, 30 * 1000);

    $('.game.upcoming').each(function() {
        $(this).click(() => {
            const description = $(this).find('.game-description').html();
            const md = new Remarkable({
                html: false
            });

            alertify.alert('Game Description', md.render(description)).set('transition', 'zoom');
        });

        $(this).find('.btn').click((ev) => {
            ev.stopPropagation();
        });
    });
</script>
</body>
</html>