<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style type="text/css">
        body {
            background-color: #343a40;
            color: #fff;
        }

        input[readonly], input[disabled] {
            background-color: #aaa !important;
        }

        .error {
            color: salmon;
        }
    </style>
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-primary row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
            <a class="navbar-brand mx-auto" href="#">{{title}}</a>
        </div>
    </nav>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <form method="post">
            <input type="hidden" name="s" value="{{s}}">
            <input type="hidden" name="c" value="{{c}}">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="guild" class="col-form-label">Server</label>
                    <input type="text" readonly class="form-control" id="guild" name="guild" value="{{guild}}">
                </div>
                <div class="form-group col-sm-6">
                    <label for="channel" class="col-form-label">Channel</label>
                    <input type="text" readonly class="form-control" id="channel" name="channel" value="{{channel}}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="adventure" class="col-form-label">Adventure</label>
                    <input type="text" class="form-control" id="adventure" name="adventure" required value="{{adventure}}">
                </div>
                <div class="form-group col-sm-3">
                    <label for="runtime" class="col-form-label">Run Time</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="runtime" name="runtime" value="{{runtime}}">
                        <div class="input-group-append">
                            <div class="input-group-text">hours</div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label for="players" class="col-form-label">Max Players</label>
                    <input type="number" min="1" class="form-control" id="players" name="players" required value="{{players}}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="dm" class="col-form-label">DM Discord Tag</label>
                    <input type="text" class="form-control" id="dm" name="dm" placeholder="Username#1234" required value="{{dm}}">
                    {{# if dmError }}
                        <small class="error">{{dmError}}</small>
                    {{/if}}
                </div>
                <div class="form-group col-sm-7">
                    <label for="where" class="col-form-label">Where</label>
                    <input type="text" class="form-control" id="where" name="where" required value="{{where}}">
                </div>
            </div>
            {{# if newgame }}
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="method" class="col-form-label">Sign Up Method</label>
                        <select class="form-control" name="method" id="method">
                            <option value="automated" {{selected method "automated"}}>Automated Signup</option>
                            <option value="custom" {{selected method "custom"}}>Custom Signup Instructions</option>
                        </select>
                        <small id="method-desc"></small>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="when" class="col-form-label">When</label>
                        <select class="form-control" name="when" id="when">
                            <option value="datetime" {{selected when "datetime"}}>Date/Time</option>
                            <option value="now" {{selected when "now"}}>Now</option>
                        </select>
                    </div>
                </div>
            {{else}}
                <input type="hidden" name="method" id="method" value="{{method}}">
                <input type="hidden" name="when" id="when" value="{{when}}">
            {{/if}}
            <div id="method__custom">
                <div class="form-group">
                    <label for="customSignup" class="col-form-label">Custom Signup Instructions</label>
                    <input type="text" class="form-control" id="customSignup" name="customSignup" value="{{customSignup}}">
                </div>
            </div>
            <div id="when__datetime" class="row">
                <div class="form-group col-sm-4">
                    <label for="date" class="col-form-label">Date</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{date}}">
                </div>
                <div class="form-group col-sm-4">
                    <label for="time" class="col-form-label">Time</label>
                    <input type="time" class="form-control" id="time" name="time" value="{{time}}">
                </div>
                <div class="form-group col-sm-4">
                    <label for="timezone" class="col-form-label">Time Zone</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">GMT</div>
                        </div>
                        <input type="number" min="-12" max="14" class="form-control" id="timezone" name="timezone" value="{{timezone}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="reserved" class="col-form-label">Reserved Slots (1 per line)</label>
                        <textarea class="form-control" id="reserved" name="reserved" rows="7" placeholder="Username#1234">{{reserved}}</textarea>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="7">{{description}}</textarea>
                        <small>Discord formatting allowed</small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <p class="col-sm-6">
                    <button type="submit" class="btn btn-primary col-12">Submit</button>
                </p>
                <p class="col-sm-6">
                    <a href="/game?s={{s}}" class="btn btn-light col-12">New Game</a>
                </p>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $('#method').change(function() {
            const sel = $(this).val();
            $('#method__custom').addClass('d-none');
            $('#customSignup').removeAttr('required');
            $('#method-desc').html('');
            
            if (sel === 'automated') {
                $('#method-desc').html('Uses discord reaction buttons on the game announcement to allow users to sign up or cancel');
                $('#when').val('datetime').change();
            } else  if (sel === 'custom') {
                $('#method__custom').removeClass('d-none');
                $('#customSignup').attr('required','');
            }
        }).change();
        
        $('#when').change(function() {
            const sel = $(this).val();
            $('#when__datetime').addClass('d-none');
            $('#date').removeAttr('required');
            $('#time').removeAttr('required');
            $('#timezone').removeAttr('required');
            
            if (sel === 'datetime') {
                $('#when__datetime').removeClass('d-none');
                $('#date').attr('required','');
                $('#time').attr('required','');
                $('#timezone').attr('required','');
            } else if (sel === 'now') {
                $('#method').val('custom').change();
            }
        }).change();
        
        {{# if newgame }}
        const d = new Date();
        document.querySelector('#date').value = d.getFullYear()+'-'+(d.getMonth()+1).toString().padStart(2,'0')+'-'+(d.getDate()).toString().padStart(2, '0');
        document.querySelector('#time').value = d.getHours().toString().padStart(2, '0')+':'+d.getMinutes().toString().padStart(2, '0');
        document.querySelector('#timezone').value = -d.getTimezoneOffset()/60;
        {{/if}}
    </script>
</body>
</html>