<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <% if (account.viewing.games) { %>
            <%= lang.nav.UPCOMING_GAMES %>
        <% } else if (account.viewing.dashboard) { %>
            <%= lang.nav.MY_GAMES %>
        <% } else if (account.viewing.server) { %>
            <%= lang.nav.MANAGE_SERVER %>
        <% } %> 
        - <%= config.title %>
    </title>

    <%- include('head', {account: account, env: env}); %>

    <script src="/scripts/moment.js"></script>
    <script src="/scripts/socket.io.js"></script>
    <link rel="stylesheet" href="/styles/game.css" />

    <script src="/locale/<%= lang.code %>.js"></script>
    <script type="text/javascript">
    moment.locale('<%= lang.code %>');
    </script>
</head>
<body>
<%- include('menu'); %>
<div class="container">
    <h6 class="breadcrumbs">
        <% if (account.viewing.games) { %>
            <%= lang.nav.UPCOMING_GAMES %>
            <a href="<%= config.urls.game.dashboard.path %>" class="btn btn-primary btn-sm float-right"><%= lang.nav.MY_GAMES %></a>
            <a href="<%= config.urls.game.calendar.path %>" class="float-right text-white mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9,10V12H7V10H9M13,10V12H11V10H13M17,10V12H15V10H17M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H6V1H8V3H16V1H18V3H19M19,19V8H5V19H19M9,14V16H7V14H9M13,14V16H11V14H13M17,14V16H15V14H17Z" /></svg>
            </a>
        <% } else if (account.viewing.dashboard) { %>
            <%= lang.nav.MY_GAMES %>
            <a href="<%= config.urls.game.games.path %>" class="btn btn-primary btn-sm float-right"><%= lang.nav.UPCOMING_GAMES %></a>
        <% } else if (account.viewing.server) { %>
            <%= lang.nav.MANAGE_SERVER %>
      <% } %>
    </h6>
    <% account.guilds.filter(guild => !account.viewing.games || guild.games.length > 0).forEach(guild => { %>
        <hr />
        <h2 class="guild-name">
            <img class="guild-icon" src="<%= guild.icon && guild.icon.length > 0 ? guild.icon : `/images/logo2.png` %>" alt="" />
            <%= guild.name %>
            <% if (account.viewing.dashboard && guild.permission) { %>
                <a href="<%= config.urls.game.create.path %>?s=<%= guild.id %>" class="btn btn-primary btn-sm float-right"><%= lang.buttons.NEW_GAME %></a>
            <% } %>
        </h2>
        <div class="games">
            <% if (guild.games.length === 0) { %>
                <div class="no-games">
                    <% if (account.viewing.dashboard) { %>
                        <%= lang.dashboard.EMPTY_MY_GAMES %>
                    <% } else if (account.viewing.games || account.viewing.server) { %>
                        <%= lang.dashboard.EMPTY_UPCOMING_GAMES %>
                    <% } %>
                </div>
            <% } %>
            <% guild.games.forEach(game => { %>
                <% if ((account.viewing.server && guild.isAdmin) || (guild.permission && account.viewing.dashboard && (account.user.tag === game.dm || account.user.tag === config.author))) { %>
                    <div class="game my-games" id="<%= game._id %>" onclick="window.location = `<%= config.urls.game.create.path %>?g=<%= game._id %>`;">
                        <h4 class="game-name"><%= game.adventure %></h4>
                        <% if (account.viewing.server) { %>
                        <div class="game-dm">
                            <strong><%= lang.game.GM %>:</strong>
                            <%= game.dm.replace(/#\d{4}/g, '') %>
                        </div>
                        <% } %>
                        <div class="game-time">
                            <strong><%= lang.game.WHEN %>:</strong>
                            <% if (game.timestamp > new Date().getTime()) {%>
                                <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>"><%= game.moment.calendar %> (<%= game.moment.from %>)</span>
                            <% } else { %>
                                <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>" class="text-danger"><%= game.moment.date %> (<%= game.moment.from %>)</span>
                            <% } %>
                        </div>
                        <div>
                        <a href="http://www.google.com/calendar/render?action=TEMPLATE&text=<%= escape(game.adventure) %>&dates=<%= game.moment.isoutc %>/<%= game.moment.isoutc %>&location=<%= escape(`${guild.name} - ${game.where}`) %>&trp=false&sprop=&details=<%= escape(game.description) %>" target="_blank" rel="nofollow" onclick="event.stopPropagation();">Add to Google Calendar</a>
                        </div>
                        <div class="game-reserved"><strong><%= lang.game.RESERVED %>:</strong> <%= Math.min(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0)%> / <%= game.players %></div>
                        <div class="game-reserved"><strong><%= lang.game.WAITLISTED %>:</strong> <%= Math.max(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0) - parseInt(game.players)%></div>
                    </div>
                <% } else if (account.viewing.games || game.signedup || game.waitlisted) { %>
                    <div class="game upcoming" id="<%= game._id %>">
                        <h4 class="game-name"><%= game.adventure %></h4>
                        <div class="game-dm">
                            <strong><%= lang.game.GM %>:</strong>
                            <%= game.dm.replace(/#\d{4}/g, '') %>
                        </div>
                        <div class="game-time">
                            <strong><%= lang.game.WHEN %>:</strong>
                            <% if (game.timestamp > new Date().getTime()) {%>
                                <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>"><%= game.moment.calendar %> (<%= game.moment.from %>)</span>
                            <% } else { %>
                                <span data-datetime="<%= game.moment.raw %>" data-iso="<%= game.moment.iso %>" class="text-danger"><%= game.moment.date %> (<%= game.moment.from %>)</span>
                            <% } %>
                        </div>
                        <div>
                        <a href="http://www.google.com/calendar/render?action=TEMPLATE&text=<%= escape(game.adventure) %>&dates=<%= game.moment.isoutc %>/<%= game.moment.isoutc %>&location=<%= escape(`${guild.name} - ${game.where}`) %>&trp=false&sprop=&details=<%= escape(game.description) %>" target="_blank" rel="nofollow" onclick="event.stopPropagation();"><%= lang.game.ADD_TO_CALENDAR %></a>
                        </div>
                        <div class="where parse-url">
                            <strong><%= lang.game.WHERE %>:</strong>
                            <%= game.where %>
                        </div>
                        <div class="game-reserved">
                            <strong><%= lang.game.RESERVED %>:</strong>
                            <%= Math.min(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0)%> / <%= game.players %>
                            <% if (game.signedup) { %>
                                (Slot #<%= game.slot %>)
                            <% } %>
                        </div>
                        <div class="game-reserved">
                            <strong><%= lang.game.WAITLISTED %>:</strong>
                            <%= Math.max(parseInt(game.players), game.reserved.trim().length > 0 ? game.reserved.trim().split("\n").length : 0) - parseInt(game.players)%>
                            <% if (game.waitlisted) { %>
                                (Slot #<%= game.slot %>)
                            <% } %>
                        </div>
                        <div class="game-description parse-md-url" data-iso="<%= game.moment.iso %>">
                            ### <%= game.adventure %>

                            **<%= lang.game.DATE %>:** %DATE%

                            **<%= lang.game.RUN_TIME %>:** <%= game.runtime %> <%= lang.game.labels.HOURS %>

                            **<%= lang.game.WHERE %>:** <%= game.where %>

                            **<%= lang.game.DESCRIPTION %>:**

                            <%= game.description %>
                        </div>
                        <% if (game.method === "automated") { %>
                            <div class="buttons">
                                <% if (!game.signedup && !game.waitlisted) { %>
                                    <a href="<%= config.urls.game.rsvp.path %>?g=<%= game._id %>" class="btn btn-success btn-sm"><%= lang.buttons.SIGN_UP %></a>
                                <% } else { %>
                                    <a href="<%= config.urls.game.rsvp.path %>?g=<%= game._id %>" class="btn btn-danger btn-sm"><%= lang.buttons.DROP_OUT %></a>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="parse-url">

                            </div>
                        <% } %>
                    </div>
                <% } %>
            <% }); %>
        </div>
    <% }); %>
    <% if (account.guilds.filter(guild => !account.viewing.games || guild.games.length > 0).length === 0) { %>
      <div class="no-guilds">
          <p><%= lang.dashboard.NO_GAMES %></p>
          <a href="/invite" target="_blank" class="btn btn-primary btn-lg"><%= lang.nav.INVITE %></a>
      </div>
    <% } %>
</div>
<script type="text/javascript">
    const parseDates = () => {
        $('[data-datetime]').each(function() {
            const date = $(this).get(0).dataset.datetime;
            const iso = $(this).get(0).dataset.iso;
            const parsed = {
                calendar: moment(iso).calendar(),
                from: moment(iso).fromNow()
            };
            $(this).html(`${parsed.calendar} (${parsed.from})`);
            if (new Date().getTime() >= new Date(date).getTime()) {
                $(this).addClass('text-danger');
            }
        });
    };

    parseDates();
    setInterval(() => {
        parseDates();
    }, 30 * 1000);

    $('.game.upcoming').each(function() {
        $(this).click(() => {
            const desc = $(this).find('.game-description');
            let description = desc
                .html()
                .split("\n").map(l => l.trim()).join("\n");
            
            const iso = desc.get(0).dataset.iso;
            description = description.replace(/%DATE%/gi, moment(iso).format('<%= config.formats.dateLong %>'));

            const md = new Remarkable({
                html: false
            });

            alertify.alert('Game Description', md.render(description)).set('transition', 'zoom');
        });

        $(this).find('.btn').click((ev) => {
            ev.stopPropagation();
        });
    });

    $('.game .parse-url').each(function() {
        const exp = /((https?:\/\/)((www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b)([-a-zA-Z0-9()@:%_\+.~#?&//=]*))/gi;
        const regex = new RegExp(exp);
        $(this).html($(this).html().replace(regex, `<a href="$1" target="_blank">$3</a>`));
    });

    $('.game .parse-md-url').each(function() {
        const exp = /((https?:\/\/)((www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b)([-a-zA-Z0-9()@:%_\+.~#?&//=]*))/gi;
        const regex = new RegExp(exp);
        $(this).html($(this).html().replace(regex, `[$1]($1)`));
    });

    $('.game .parse-url a, .game .parse-md-url a').each(function() {
        $(this).click(function() {
            window.open($(this).attr('href'));
            return false;
        });
    });

    const socket = io();

    socket.on('game', response => {
        if (response.action === 'updated') {
            
        } else if (response.action === 'deleted') {
            $('#'+response.gameId+'.game').remove();
        }
    });
</script>
</body>
</html>