<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> - <%= config.title %></title>
    
    <%- include('head', {account: null}); %>
    
    <link rel="stylesheet" href="/styles/game.css">

    <% if (is.editgame) { %>
        <script src="/scripts/socket.io.js"></script>
    <% } %>
</head>
<body>
<%- include('menu'); %>
<div class="container">
    <h6 class="breadcrumbs">
        <% if (account.user) { %>
            <a href="<%= config.urls.game.dashboard.path %>"><%= lang.nav.MY_GAMES %></a>
            <span class="breadcrumb-divider">/</span>
        <% } %>
        <%= title %>
    </h6>
    <hr />
    <form method="post">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="guild" class="col-form-label"><%= lang.game.SERVER %></label>
                <input type="text" readonly class="form-control" id="guild" name="guild" value="<%= guild %>">
                <input type="hidden" name="s" value="<%= s %>">
            </div>
            <div class="form-group col-sm-6">
                <label for="channel" class="col-form-label"><%= lang.game.CHANNEL %></label>
                <% if (is.editgame) { %>
                    <input type="text" readonly class="form-control" id="channel" name="channel" value="<%= channel %>">
                    <input type="hidden" name="c" value="<%= c %>">
                <% } else if (channels.length === 1) { %>
                    <input type="text" readonly class="form-control" id="channel" name="channel" value="<%= channels[0].name %>">
                    <input type="hidden" name="c" value="<%= channels[0].id %>">
                <% } else { %>
                    <select class="form-control" id="c" name="c">
                        <% channels.forEach(c => {
                            %><option value="<%= c.id %>"><%= c.name %></option><%
                        }) %>
                    </select>
                    <input type="hidden" id="channel" name="channel" value="<%= channels[0].name %>">
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="adventure" class="col-form-label"><%= lang.game.GAME_NAME %></label>
                <input type="text" class="form-control" id="adventure" name="adventure" required value="<%= adventure %>">
            </div>
            <div class="form-group col-sm-3">
                <label for="runtime" class="col-form-label"><%= lang.game.RUN_TIME %></label>
                <div class="input-group">
                    <input type="text" class="form-control" id="runtime" name="runtime" value="<%= runtime %>">
                    <div class="input-group-append">
                        <div class="input-group-text"><%= lang.game.labels.HOURS %></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="players" class="col-form-label"><%= lang.game.MAX_PLAYERS %></label>
                <input type="number" min="1" class="form-control" id="players" name="players" required value="<%= players %>">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="dm" class="col-form-label"><%= lang.game.GM_DISCORD_TAG %></label>
                <input type="text" class="form-control" id="dm" name="dm" placeholder="Username#1234" required value="<%= dm %>">
                <% if (errors.dm) { %>
                    <small class="error"><%= errors.dm %></small>
                <% } else { %>
                    <small><%= lang.game.labels.DISCORD_TAGS %></small>
                <% } %>
            </div>
            <div class="form-group col-sm-7">
                <label for="where" class="col-form-label"><%= lang.game.WHERE %></label>
                <input type="text" class="form-control" id="where" name="where" required value="<%= where %>">
            </div>
        </div>
        <% if (is.newgame) { %>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="method" class="col-form-label"><%= lang.game.SIGN_UP_METHOD %></label>
                    <select class="form-control" name="method" id="method">
                        <option value="automated" <%= method === "automated" ? 'selected' : '' %>><%= lang.game.options.AUTOMATED_SIGNUP %></option>
                        <option value="custom" <%= method === "custom" ? 'selected' : '' %>><%= lang.game.options.CUSTOM_SIGNUP_INSTRUCTIONS %></option>
                    </select>
                    <small id="method-desc"></small>
                </div>
                <div class="form-group col-sm-6">
                    <label for="when" class="col-form-label"><%= lang.game.WHEN %></label>
                    <select class="form-control" name="when" id="when">
                        <option value="datetime" <%= when === 'datetime' ? 'selected' : '' %>><%= lang.game.options.DATE_TIME %></option>
                        <option value="now" <%= when === 'now' ? 'selected' : '' %>><%= lang.game.options.NOW %></option>
                    </select>
                </div>
            </div>
        <% } else { %>
            <input type="hidden" name="method" id="method" value="<%= method %>">
            <input type="hidden" name="when" id="when" value="<%= when %>">
        <% } %>
        <div id="method__custom">
            <div class="form-group">
                <label for="customSignup" class="col-form-label"><%= lang.game.CUSTOM_SIGNUP_INSTRUCTIONS %></label>
                <input type="text" class="form-control" id="customSignup" name="customSignup" value="<%= customSignup %>">
            </div>
        </div>
        <div id="when__datetime" class="row">
            <div class="form-group col-sm-6 col-md-3">
                <label for="date" class="col-form-label"><%= lang.game.DATE %></label>
                <input type="date" class="form-control" id="date" name="date" value="<%= date %>">
            </div>
            <div class="form-group col-sm-6 col-md-3">
                <label for="time" class="col-form-label"><%= lang.game.TIME %></label>
                <input type="time" class="form-control" id="time" name="time" value="<%= time %>">
            </div>
            <div class="form-group col-sm-6 col-md-3">
                <label for="timezone" class="col-form-label"><%= lang.game.TIME_ZONE %></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">UTC</div>
                    </div>
                    <input type="number" min="-12" max="14" step="0.25" class="form-control" id="timezone" name="timezone" value="<%= timezone %>">
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-3">
                <label for="reminder" class="col-form-label"><%= lang.game.REMINDER %></label>
                <select class="form-control" id="reminder" name="reminder">
                    <option value="0" <%= reminder === '0' ? 'selected' : '' %>><%= lang.game.options.NO_REMINDER %></option>
                    <option value="15" <%= reminder === '15' ? 'selected' : '' %>><%= lang.game.options.MINUTES_15 %></option>
                    <option value="30" <%= reminder === '30' ? 'selected' : '' %>><%= lang.game.options.MINUTES_30 %></option>
                    <option value="60" <%= reminder === '60' ? 'selected' : '' %>><%= lang.game.options.MINUTES_60 %></option>
                    <option value="1440" <%= reminder === '1440' ? 'selected' : '' %>><%= lang.game.options.HOURS_24 %></option>
                </select>
            </div>
            <div class="col-12">
                <div class="pinfo overflow-hidden">
                    <p id="convertLink"></p>
                    <!-- <p id="countdownLink"></p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="reserved" class="col-form-label"><%= lang.game.RESERVED_SLOTS %></label>
                    <textarea class="form-control" id="reserved" name="reserved" rows="7" placeholder="Username#1234"><%= reserved %></textarea>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="description" class="col-form-label"><%= lang.game.DESCRIPTION %></label>
                    <textarea class="form-control" id="description" name="description" rows="7" maxlength="1500"><%= description %></textarea>
                    <small><%= lang.game.labels.DISCORD_FORMATTING %> (<%= lang.game.MAX %> 1500 <%= lang.game.CHARACTERS %>)</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            &nbsp;
        </div>
        <% if (is.newgame) { %>
            <div class="form-group row">
                <p class="col-sm-6 mx-auto">
                    <button type="submit" class="btn btn-primary col-12"><%= lang.buttons.SUBMIT %></button>
                </p>
            </div>
        <% } %>
        <% if (is.editgame) { %>
            <div class="form-group row">
                <p class="col-sm-5">
                    <button type="submit" class="btn btn-primary col-12"><%= lang.buttons.SAVE %></button>
                </p>
                <div class="col d-none d-md-block"></div>
                <p class="col-12 col-sm">
                    <a href="<%= config.urls.game.create.path %>?s=<%= s %>" class="btn btn-light col-12"><%= lang.buttons.NEW_GAME %></a>
                </p>
                <p class="d-none d-sm-block" style="padding: 0 15px;">
                    <button type="button" onclick="confirmDelete('<%= config.urls.game.delete.path %>?g=<%= _id %>');" class="btn btn-danger col-12"><%= lang.buttons.DELETE_GAME %></button>
                </p>
            </div>
        <% } %>
    </form>
</div>
<script type="text/javascript">
    $('#method').change(function() {
        const sel = $(this).val();
        $('#method__custom').addClass('d-none');
        $('#customSignup').removeAttr('required');
        $('#method-desc').html('');

        if (sel === 'automated') {
            $('#method-desc').html('<%= lang.game.labels.AUTOMATED_SIGNUP_DESC %>');
            $('#when').val('datetime').change();
        } else  if (sel === 'custom') {
            $('#method__custom').removeClass('d-none');
            $('#customSignup').attr('required','');
        }
    }).change();

    $('#when').change(function() {
        const sel = $(this).val();
        $('#when__datetime').addClass('d-none');
        $('#date').removeAttr('required');
        $('#time').removeAttr('required');
        $('#timezone').removeAttr('required');

        if (sel === 'datetime') {
            $('#when__datetime').removeClass('d-none');
            $('#date').attr('required','');
            $('#time').attr('required','');
            $('#timezone').attr('required','');
        } else if (sel === 'now') {
            $('#method').val('custom').change();
        }
    }).change();

    $('#c').change(function() {
        $('#channel').val($('#c option:selected').text())
    }).change();

    <% if (password) { %>
    fetch('<%= config.urls.game.auth.path %>?s=<%= s %>', { method: 'GET' })
        .then(response => {
            return response.json();
        })
        .then(session => {
            if (!session) passwordRedirect();;
            if (!session.status) passwordRedirect();;
            if (!(session.status.loggedInTo || []).includes('<%= s %>')) {
                const password = prompt('<%= lang.game.labels.REQUEST_SERVER_PASS %>');
                fetch('<%= config.urls.game.password.path %>?s=<%= s %>&p='+escape(password), { method: 'GET' })
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        if (!data.result) {
                            passwordRedirect();
                        }
                    })
                    .catch(err => {
                        passwordRedirect();
                    });
            }
        })
        .catch(err => {
            console.log(err);
        });

    const passwordRedirect = () => {
        <% if (account.user) { %>
        window.location = '<%= config.urls.game.dashboard.path %>';
        <% } else { %>
        window.location = '<%= config.urls.base.path %>';
        <% } %>
    };
    <% } %>

    const confirmDelete = (url) => {
        if (confirm("Are you sure you want to delete the game? This cannot be undone.")) {
            window.location = url;
        }
    };

    const getTZUrls = (date, time, gmtOffset) => {
        const d = new Date(`${date.replace(/-/g, "/").replace(/UTC\//, "UTC-")} ${time} UTC${gmtOffset < 0 ? '-' : '+'}${Math.abs(gmtOffset)}`).toISOString().replace(/[^0-9T]/gi,"").slice(0,13);

        return {
            convert: `https://timee.io/${d}`// ,
            // countdown: `https://timee.io/${d}`
        };
    };

    <% if (is.newgame) { %>
    const d = new Date();
    $('#date').val(d.getFullYear()+'-'+(d.getMonth()+1).toString().padStart(2,'0')+'-'+(d.getDate()).toString().padStart(2, '0'));
    $('#time').val(d.getHours().toString().padStart(2, '0')+':'+d.getMinutes().toString().padStart(2, '0'));
    $('#timezone').val(-d.getTimezoneOffset()/60);
    <% } %>

    $('#date').change(function() {
        var link = getTZUrls($('#date').val(), $('#time').val(), $('#timezone').val());
        $('#convertLink').html(`Time Zone Conversion: <a href="${link.convert}" target="_blank">${link.convert}</a>`);
        // $('#countdownLink').html(`Countdown: <a href="${link.countdown}" target="_blank">${link.countdown}</a>`);
    }).change();

    $('#time').change(function() {
        var link = getTZUrls($('#date').val(), $('#time').val(), $('#timezone').val());
        $('#convertLink').html(`Time Zone Conversion: <a href="${link.convert}" target="_blank">${link.convert}</a>`);
        // $('#countdownLink').html(`Countdown: <a href="${link.countdown}" target="_blank">${link.countdown}</a>`);
    }).change();

    $('#timezone').change(function() {
        var link = getTZUrls($('#date').val(), $('#time').val(), $('#timezone').val());
        $('#convertLink').html(`Time Zone Conversion: <a href="${link.convert}" target="_blank">${link.convert}</a>`);
        // $('#countdownLink').html(`Countdown: <a href="${link.countdown}" target="_blank">${link.countdown}</a>`);
    }).change();

    <% if (is.editgame) { %>
    const gameId = '<%= _id %>';
    const socket = io();

    socket.on('game', response => {
        if (gameId !== response.gameId) return;
        if (response.action === 'updated') {
            Object.keys(response.game).forEach(key => {
                if ($('#'+key).length > 0) $('#'+key).val(response.game[key]);
            });
        } else if (response.action === 'deleted') {
            alert('<%= lang.game.labels.GAME_DELETED %>');
            window.location = '<%= config.urls.game.create.path %>?s=<%= s %>';
        }
    });
    <% } %>
</script>
<% include foot.ejs %>